.bz-flags {
  /* game colors */
  --bz-color-primary-1: #8d97a6;
  --bz-color-primary-2: #4c5366;
  --bz-color-primary-3: #333640;
  --bz-color-primary-4: #23252b;
  --bz-color-primary-5: #12151f;
  --bz-color-primary: var(--bz-color-primary-2);
  --bz-color-silver: var(--bz-color-primary-2);
  --bz-color-secondary-1: #e5d2ac;
  --bz-color-secondary-2: #8c7e62;
  --bz-color-secondary-3: #4c473d;
  --bz-color-secondary: var(--bz-color-secondary-2);
  --bz-color-bronze: var(--bz-color-secondary-2);
  --bz-color-accent-1: #e5e5e5;
  --bz-color-accent-2: #c2c4cc;
  --bz-color-accent-3: #9da0a6;
  --bz-color-accent-4: #85878c;
  --bz-color-accent-5: #616266;
  --bz-color-accent-6: #05070d;
  --bz-color-accent: var(--bz-color-accent-5);
  --bz-color-negative: #dc1e46;
  --bz-color-negative-text: #ff6644;  /* brighter red for black backgrounds */
  --bz-color-pill-background: var(--bz-color-primary-4);
  --bz-color-pill-border: #53565d;
}
.bz-flags {
  /* more bronze shades */
  --bz-color-bronze-1: #f9ecd2;
  --bz-color-bronze-2: #e5d2ac;  /* = secondary1 */
  --bz-color-bronze-3: #c7b28a;
  --bz-color-bronze-4: #a99670;
  --bz-color-bronze-5: #8c7e62;  /* = secondary 2 */
  --bz-color-bronze-6: #4c473d;  /* = secondary 3 */
  --bz-color-rules: #8c7e6233;  /* broze-5 20% opacity */
}
.bz-flags {
  /* alert colors */
  --bz-color-black: #000000;
  --bz-color-danger: #af1b1c99;  /* danger = militaristic 60% opacity */
  --bz-color-caution: #cea92f;  /* caution = healthbar-medium */
  --bz-color-note: #ff800033;  /* note = orange 20% opacity */
  --bz-color-hostile: #d93a37;  /* sampled from unit flags */
}
.bz-flags {
  /* geographic colors */
  --bz-color-hill: #ea995266;  /* Rough terrain = orange 40% opacity */
  --bz-color-mountain: #aa998866;  /* Mountain terrain = warm gray 40% opacity */
  --bz-color-aquatic: #00ffee66;  /* Aquatic = teal 40% opacity */
  --bz-color-vegetated: #aaff0033;  /* Vegetated features = green 20% opacity */
  --bz-color-wet: #55ffff33;  /* Wet obstacles = teal 20% opacity */
  --bz-color-floodplain: #ff800033;  /* Floodplains = orange 20% opacity */
  --bz-color-fresh-water: #55aaff66;  /* Fresh water = azure 60% opacity */
  --bz-color-river: var(--bz-color-fresh-water);
  --bz-color-road: #e5d2ac66;  /* Roads = bronze 40% opacity */
  --bz-color-rail: #c2c4cc66;  /* Railroads = silver 40% opacity */
  --bz-color-bridge: #d4c9c466;  /* Bridges = warm gray 40% opacity */
}
.bz-flags {
  /* yield types */
  --bz-color-food: #80b34d;        /*  90° 40 50 green */
  --bz-color-production: #a33d29;  /*  10° 60 40 red */
  --bz-color-gold: #f6ce55;        /*  45° 90 65 yellow */
  --bz-color-science: #6ca6e0;     /* 210° 65 65 cyan */
  --bz-color-culture: #5c5cd6;     /* 240° 60 60 violet */
  --bz-color-happiness: #f5993d;   /*  30° 90 60 orange */
  --bz-color-diplomacy: #afb7cf;   /* 225° 25 75 gray */
  /* yields adjusted to L70+ for text contrast */
  --bz-color-food-text: #80b34d;
  --bz-color-production-text: #e87b64;
  --bz-color-gold-text: #f6ce55;
  --bz-color-science-text: #79b3ee;
  --bz-color-culture-text: #8d92f9;
  --bz-color-happiness-text: #f5993d;
  --bz-color-diplomacy-text: #afb7cf;
}
.bz-flags {
  /* city-state & independent power types */
  --bz-color-militaristic: #af1b1c;
  --bz-color-scientific: #4d7c96;
  --bz-color-economic: #ffd553;
  --bz-color-cultural: #892bb3;
  --bz-color-expansionist: #00a717;
  --bz-color-diplomatic: #255be4;
  --bz-color-crisis: #af1b1c;
}

.bz-flags .city-banner__capital-star,
.bz-flags .city-banner__original-capital-curr-star {
    background-size: 100% /* 75% */;
}
.bz-flags .city-banner__original-capital-star {
    background-size: 80% /* 60% */;
    filter: saturate(0);
}

.bz-flags .city-banner__population-ring .fxs-ring-meter__ring-right,
.bz-flags .city-banner__population-ring .fxs-ring-meter__ring-left {
    filter: brightness(1.667) fxs-color-tint(var(--bz-color-food));
}
.bz-flags .city-banner__production-ring .fxs-ring-meter__ring-right,
.bz-flags .city-banner__production-ring .fxs-ring-meter__ring-left {
    filter: brightness(2.333) fxs-color-tint(var(--bz-color-production));
}
