.bz-flags {
  /* game colors */
  --bz-color-primary-1: #8d97a6;
  --bz-color-primary-2: #4c5366;
  --bz-color-primary-3: #333640;
  --bz-color-primary-4: #23252b;
  --bz-color-primary-5: #12151f;
  --bz-color-primary: var(--bz-color-primary-2);
  --bz-color-silver: var(--bz-color-primary-2);
  --bz-color-secondary-1: #e5d2ac;
  --bz-color-secondary-2: #8c7e62;
  --bz-color-secondary-3: #4c473d;
  --bz-color-secondary: var(--bz-color-secondary-2);
  --bz-color-bronze: var(--bz-color-secondary-2);
  --bz-color-accent-1: #e5e5e5;
  --bz-color-accent-2: #c2c4cc;
  --bz-color-accent-3: #9da0a6;
  --bz-color-accent-4: #85878c;
  --bz-color-accent-5: #616266;
  --bz-color-accent-6: #05070d;
  --bz-color-accent: var(--bz-color-accent-5);
  --bz-color-negative: #dc1e46;
  --bz-color-negative-text: #ff6644;  /* brighter red for black backgrounds */
  --bz-color-pill-background: var(--bz-color-primary-4);
  --bz-color-pill-border: #53565d;
}
.bz-flags {
  /* more bronze shades */
  --bz-color-bronze-1: #f9ecd2;
  --bz-color-bronze-2: #e5d2ac;  /* = secondary1 */
  --bz-color-bronze-3: #c7b28a;
  --bz-color-bronze-4: #a99670;
  --bz-color-bronze-5: #8c7e62;  /* = secondary 2 */
  --bz-color-bronze-6: #4c473d;  /* = secondary 3 */
  --bz-color-rules: #8c7e6233;  /* broze-5 20% opacity */
}
.bz-flags {
  /* alert colors */
  --bz-color-black: #000000;
  --bz-color-danger: #af1b1c99;  /* danger = militaristic 60% opacity */
  --bz-color-caution: #cea92f;  /* caution = healthbar-medium */
  --bz-color-note: #ff800033;  /* note = orange 20% opacity */
  --bz-color-hostile: #d93a37;  /* sampled from unit flags */
}
.bz-flags {
  /* geographic colors */
  --bz-color-hill: #ea995266;  /* Rough terrain = orange 40% opacity */
  --bz-color-mountain: #aa998866;  /* Mountain terrain = warm gray 40% opacity */
  --bz-color-aquatic: #00ffee66;  /* Aquatic = teal 40% opacity */
  --bz-color-vegetated: #aaff0033;  /* Vegetated features = green 20% opacity */
  --bz-color-wet: #55ffff33;  /* Wet obstacles = teal 20% opacity */
  --bz-color-floodplain: #ff800033;  /* Floodplains = orange 20% opacity */
  --bz-color-fresh-water: #55aaff66;  /* Fresh water = azure 60% opacity */
  --bz-color-river: var(--bz-color-fresh-water);
  --bz-color-road: #e5d2ac66;  /* Roads = bronze 40% opacity */
  --bz-color-rail: #c2c4cc66;  /* Railroads = silver 40% opacity */
  --bz-color-bridge: #d4c9c466;  /* Bridges = warm gray 40% opacity */
}
.bz-flags {
  /* yield types */
  --bz-color-food: #80b34d;        /*  90° 40 50 green */
  --bz-color-production: #a33d29;  /*  10° 60 40 red */
  --bz-color-gold: #f6ce55;        /*  45° 90 65 yellow */
  --bz-color-science: #6ca6e0;     /* 210° 65 65 cyan */
  --bz-color-culture: #5c5cd6;     /* 240° 60 60 violet */
  --bz-color-happiness: #f5993d;   /*  30° 90 60 orange */
  --bz-color-diplomacy: #afb7cf;   /* 225° 25 75 gray */
  /* yields adjusted to L70+ for text contrast */
  --bz-color-food-text: #80b34d;
  --bz-color-production-text: #e87b64;
  --bz-color-gold-text: #f6ce55;
  --bz-color-science-text: #79b3ee;
  --bz-color-culture-text: #8d92f9;
  --bz-color-happiness-text: #f5993d;
  --bz-color-diplomacy-text: #afb7cf;
}
.bz-flags {
  /* city-state & independent power types */
  --bz-color-militaristic: #af1b1c;
  --bz-color-scientific: #4d7c96;
  --bz-color-economic: #ffd553;
  --bz-color-cultural: #892bb3;
  --bz-color-expansionist: #00a717;
  --bz-color-diplomatic: #255be4;
  --bz-color-crisis: #af1b1c;
}
.bz-flags {
  /* relationship ring colors */
  --bz-color-friendly: #e5d2ac;
  --bz-color-hostile: #d93a37;  /* sampled from unit flags */
  --bz-color-neutral: #afb7cf;  /* 225° 25 75 gray */
}

.bz-flags .text-negative,
.bz-flags .text-negative-light {
  color: #ff6644;
  text-shadow: 0 0.0555555556rem 0.1111111111rem black, 0 0 0.3333333333rem black;
}

/* vanilla */
.city-banner {
  pointer-events: none;
  height: 3.6666666667rem;
  top: -4rem;
}
.city-banner.disabled .city-banner__name {
  pointer-events: none;
}
.city-banner.hidden {
  visibility: hidden;
}
.city-banner .city-banner__stretch {
  top: 0.3333333333rem;
  height: 3.6666666667rem;
}
.city-banner .city-banner__portrait {
  display: none;
}
.city-banner .city-banner__symbol {
  width: 1rem;
  height: 1rem;
  margin-left: 0.2222222222rem;
  margin-right: 0.3333333333rem;
}
.city-banner .city-banner__symbol.symbol--right {
  margin-left: 0.3333333333rem;
  margin-right: 0.2222222222rem;
}
.city-banner .city-banner__name-container {
  margin-top: 0.8888888889rem;
  pointer-events: auto;
}
.city-banner .city-banner__name {
  pointer-events: auto;
}
.city-banner .city-banner__turn {
  top: -0.1666666667rem;
}
.city-banner .city-banner__status-religion {
  top: -0.4444444444rem;
  left: 0.2222222222rem;
}
.city-banner .city-banner__ring {
  margin-top: 0.1666666667rem;
}
.city-banner.city-banner--town {
  top: -3.0555555556rem;
}
.city-banner.city-banner--town .city-banner__name {
  margin-top: -0.2777777778rem;
}
.city-banner.city-banner--town .city-banner__conquered-icon {
  margin-top: 0.4444444444rem;
}
.city-banner.city-banner--town .city-banner__unrest-icon {
  margin-top: 0.4444444444rem;
}
.city-banner.city-banner--town .city-banner__razing-icon {
  margin-top: 0.4444444444rem;
}
.city-banner.city-banner--town .city-banner__population-container {
  margin-top: -0.4444444444rem;
}
.city-banner.city-banner--city-other .city-banner__container {
  margin-top: 1.5555555556rem;
}
.city-banner.city-banner--city-other .city-banner__stretch {
  top: 1.3333333333rem;
  height: 4.6666666667rem;
}
.city-banner.city-banner--city-other .city-banner__portrait {
  top: 0rem;
  width: 1.3333333333rem;
  height: 2rem;
  display: flex;
}
.city-banner.city-banner--city-other .city-banner__turn {
  top: 0.1111111111rem;
}
.city-banner.city-banner--city-other .city-banner__pattern.pattern-top {
  border-right-width: 0.1111111111rem;
  border-right-color: var(--player-color-primary);
  border-right-style: solid;
}
.city-banner.city-banner--city-other .city-banner__stretch-bg {
  border-image-source: url("blp:city_pill.png");
}
.city-banner.city-banner--city-other .city-banner__name-container {
  margin-top: 0.8888888889rem;
}
.city-banner.city-banner--city-other .city-banner__name-container.city-banner__icons-below-name {
  margin-top: 1.5555555556rem;
}
.city-banner.city-banner--city-other .city-banner__name {
  margin-top: 0.1111111111rem;
}
.city-banner.city-banner--city-other .city-banner__name.city-banner__icons-below-name {
  margin-top: 0rem;
}
.city-banner.city-banner--city-other .city-banner__turn {
  top: 0rem;
}
.city-banner.city-banner--city-other .queue-production {
  display: none;
}
.city-banner.city-banner--city-other .city-banner__status-religion {
  top: -0.3333333333rem;
}
.city-banner.city-banner--city-other .city-banner__ring {
  margin-top: 0.3333333333rem;
}
.city-banner.city-banner--city-other .city-banner__population-container {
  margin-top: -0.3333333333rem;
}
.city-banner.city-banner--city-other .city-banner__population-container.city-banner__icons-below-name {
  margin-top: 0rem;
}
.city-banner.city-banner--city .city-banner__container {
  margin-top: 1.1111111111rem;
}
.city-banner.city-banner--city .city-banner__population {
  top: -0.3888888889rem;
  height: 3.5555555556rem;
}
.city-banner.city-banner--city .city-banner__population-bg {
  width: 2.6666666667rem;
  height: 2.6666666667rem;
}
.city-banner.city-banner--city .city-banner__portrait {
  top: -0.1666666667rem;
  width: 1.3333333333rem;
  height: 2rem;
  display: flex;
}
.city-banner.city-banner--city .city-banner__capital-star {
  margin-top: 0.1111111111rem;
}
.city-banner.city-banner--city .city-banner__original-capital-curr-star {
  margin-top: 0.1111111111rem;
}
.city-banner.city-banner--city .city-banner__original-capital-star {
  margin-top: 0.1111111111rem;
}
.city-banner.city-banner--city .city-banner__stretch {
  top: 1.3333333333rem;
}
.city-banner.city-banner--city .city-banner__stretch-bg {
  border-image-source: url("blp:city_pill.png");
}
.city-banner.city-banner--city .city-banner__name-container {
  margin-top: 1.8888888889rem;
}
.city-banner.city-banner--city .city-banner__status-religion {
  top: -0.3333333333rem;
}
.city-banner.city-banner--city .city-banner__turn {
  top: 0.1111111111rem;
}
.city-banner.city-banner--village {
  top: -3.2222222222rem;
}
.city-banner.city-banner--village .city-banner__city-state-type {
  display: flex;
}
.city-banner.city-banner--village .city-banner__population-container {
  display: none;
}
.city-banner.city-banner--village .city-banner__city-state-type {
  margin-top: 0.3333333333rem;
}
.city-banner.city-banner--village .city-banner__status {
  display: none;
}
.city-banner.city-banner--village .city-banner__stretch-bg {
  fxs-border-image-tint: rgb(22, 22, 35);
}
.city-banner.city-banner--village .city-banner__name-container {
  margin-top: -0.3333333333rem;
  color: white;
}
.city-banner.city-banner--village .city-banner__name {
  margin-top: 0.3888888889rem;
  text-shadow: none;
}
.city-banner.city-banner--village .city-banner__city-state-container {
  margin-top: 0.2222222222rem;
}
.city-banner.city-banner--village .city-banner__city-state-icon {
  fxs-background-image-tint: white;
}
.city-banner.city-banner--hostile .city-banner__city-state-border {
  display: flex;
  fxs-border-image-tint: #a00000;
}
.city-banner.city-banner--hostile .city-banner__city-state-ring {
  display: flex;
  fxs-border-image-tint: white;
}
.city-banner.city-banner--friendly .city-banner__city-state-border {
  display: flex;
  fxs-border-image-tint: #ffd553;
}
.city-banner.city-banner--friendly .city-banner__city-state-ring {
  display: flex;
  fxs-border-image-tint: white;
}
.city-banner.city-banner--citystate .city-banner__container {
  margin-top: 1.1111111111rem;
}
.city-banner.city-banner--citystate .city-banner__portrait {
  top: -0.1666666667rem;
  width: 1.1111111111rem;
  height: 1.7777777778rem;
  display: flex;
}
.city-banner.city-banner--citystate .city-banner__city-state-container {
  margin-top: 0.1111111111rem;
  margin-left: 0.2222222222rem;
  margin-right: 0.1111111111rem;
}
.city-banner.city-banner--citystate .city-banner__name-container {
  margin-top: 1.8888888889rem;
  color: black;
}
.city-banner.city-banner--citystate .city-banner__stretch {
  top: 1.3333333333rem;
}
.city-banner.city-banner--citystate .city-banner__stretch-bg {
  border-image-source: url("blp:city_pill.png");
  fxs-border-image-tint: white;
}
.city-banner.city-banner--citystate .city-banner__turn {
  top: 0.1111111111rem;
}
.city-banner.city-banner--citystate .city-banner__city-state-ring {
  border-image-slice: 60 24 2 24 fill;
  border-image-outset: 0.2222222222rem 0.1111111111rem;
  border-image-width: 3.3333333333rem 1.3888888889rem 0.1111111111rem 1.3333333333rem;
}
.city-banner.city-banner--citystate .city-banner__city-state-type {
  display: flex;
  margin-top: 0;
}
.city-banner.city-banner--citystate .city-banner__name {
  text-shadow: none;
}
.city-banner.city-banner--citystate .city-banner__ring {
  margin-top: 0.2777777778rem;
  margin-right: 0.1111111111rem;
}
.city-banner.city-banner--citystate .city-banner__conquered-icon {
  margin-top: 1.3333333333rem;
}
.city-banner.city-banner--citystate .city-banner__unrest-icon {
  margin-top: 1.3333333333rem;
}
.city-banner.city-banner--citystate .city-banner__razing-icon {
  margin-top: 1.3333333333rem;
}
.city-banner.city-banner--has-religion .city-banner__religion {
  display: flex;
}
.city-banner.city-banner--conquered .city-banner__conquered-icon {
  display: flex;
}
.city-banner.city-banner--unrest .city-banner__unrest {
  display: flex;
}
.city-banner.city-banner--razing .city-banner__razing {
  display: flex;
}

.city-banner__container {
  transform: translateX(-50%) scale(1);
}
.city-banner__container.disabled {
  pointer-events: none;
}

.city-banner__name-container {
  line-height: 2rem;
  color: var(--player-color-secondary);
  pointer-events: auto;
}

.city-banner__name {
  position: relative;
  padding: 0 0.3333333333rem;
  letter-spacing: 0.0555555556rem;
  margin-right: -0.0555555556rem;
  margin-top: -0.2222222222rem;
  text-shadow: 0.0555555556rem 0.0555555556rem 0rem rgba(0, 0, 0, 0.25), 0.0833333333rem 0.0833333333rem 0rem rgba(0, 0, 0, 0.25);
  font-weight: bold;
  pointer-events: auto;
}
.city-banner__name.city-banner__icons-below-name {
  margin-top: 0rem;
}

.city-banner__stretch-bg {
  fxs-border-image-tint: var(--player-color-primary);
  border-image-source: url("blp:town_pill.png");
  border-image-slice: 60 24 2 24 fill;
  border-image-outset: 0rem 0.4444444444rem;
  border-image-width: 3.3333333333rem 1.3333333333rem 0.1111111111rem 1.3333333333rem;
}

.city-banner__city-state-border {
  display: none;
  margin-top: 0.3888888889rem;
  border-image-source: url("blp:hostile_pill.png");
  border-image-slice: 60 24 2 24 fill;
  border-image-outset: 0.2222222222rem 0.1111111111rem;
  border-image-width: 3rem 1.3333333333rem 0.1111111111rem 1.3333333333rem;
}

.city-banner__city-state-ring {
  display: none;
  border-image-source: url("blp:city_pill.png");
  border-image-slice: 60 24 2 24 fill;
  border-image-outset: 0.2222222222rem 0.3888888889rem;
  border-image-width: 3.3333333333rem 1.3888888889rem 0.1111111111rem 1.3333333333rem;
}

.city-banner__population-number {
  background-image: url("blp:town_pop-bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  fxs-background-image-tint: black;
}

.city-banner__queue-container.disabled {
  pointer-events: none;
}
.city-banner__queue-container.queue-production {
  left: 0.1666666667rem;
  pointer-events: auto;
}
.city-banner__queue-container.queue-growth {
  right: 0.1666666667rem;
  pointer-events: auto;
}
.city-banner__queue-container.queue-none {
  display: none;
}

.city-banner__queue-img.queue-growth {
  background-image: url("blp:Action_Upgrade.png");
}

.city-banner__queue-img {
  margin-left: 0.5555555556rem;
  background-size: contain;
}

.city-banner__turn-icon {
  width: 0.6666666667rem;
  height: 0.7222222222rem;
  background-image: url("blp:turn_icon.png");
  background-size: contain;
  margin-bottom: -0.4444444444rem;
}

.city-banner__turn-number {
  background-image: url("blp:town_turn-bg.png");
  line-height: 1rem;
  padding-left: 0.0555555556rem;
}

.city-banner__portrait.disabled {
  pointer-events: none;
}

.city-banner__portrait-bg1 {
  background-image: url("blp:town_portrait-hex.png");
}

.city-banner__portrait-bg2 {
  background-image: url("blp:town_portrait-frame.png");
}

.city-banner__religion {
  display: none;
}

.city-banner__religion-symbol-bg {
  width: 1rem;
  height: 1rem;
  margin-right: 0.1111111111rem;
  border-radius: 50%;
  border-width: 0.25rem;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.5);
}

.city-banner__religion-symbol {
  width: 1rem;
  height: 1rem;
  margin-top: -0.2777777778rem;
  margin-left: -0.2777777778rem;
}

.city-banner__status {
  height: 1rem;
  width: 1rem;
  margin-right: 0.1111111111rem;
}
.city-banner__status .city-banner__status--hidden {
  opacity: 0;
}

.city-banner__status-background {
  border-radius: 50%;
  border-width: 0.25rem;
  border-color: rgba(0, 0, 0, 0.5);
  border-style: solid;
  background-color: rgba(0, 0, 0, 0.5);
}

.city-banner__status-icon {
  background-size: 125%;
  background-position: center center;
}

.city-banner__trade-network {
  height: 1rem;
  width: 1rem;
  position: relative;
}
.city-banner__trade-network .city-banner__trade-network--hidden {
  opacity: 0;
}

.city-banner__trade-network-icon {
  background-image: url("blp:trade_broken.png");
  background-size: 125%;
  background-position: center center;
}

.city-banner__ring {
  background-image: url("blp:hud_sub_circle_bk.png");
  margin-right: -0.2222222222rem;
  margin-top: 0.3333333333rem;
}
.city-banner__ring .fxs-ring-meter__ring-right,
.city-banner__ring .fxs-ring-meter__ring-left {
  background-image: url("blp:hud_small-progress_bar.png");
  background-size: cover;
}
.city-banner__ring .fxs-ring-meter__ring-right {
  background-position: right;
}
.city-banner__ring .fxs-ring-meter__ring-left {
  background-position: left;
}

.city-banner__city-state-type {
  display: none;
  background-color: rgb(0, 0, 0);
  border-color: rgba(22, 26, 36, 0.8431372549);
  margin-right: 0.1111111111rem;
  margin-top: 0.5555555556rem;
  border-radius: 50%;
  border-width: 0.2rem;
  border-style: solid;
}

.city-banner__conquered-icon {
  transform: translateX(-50%) scale(1);
  display: none;
  background-image: url("blp:icon-conquered.png");
}

.city-banner__unrest-icon {
  background-image: url("blp:icon_unrest.png");
}

.city-banner__unrest {
  display: none;
}

.city-banner__razing-icon {
  background-image: url("blp:icon_razed.png");
}

.city-banner__razing {
  display: none;
}

.city-banner__time-container {
  border-image-source: url("blp:turn_bg.png");
  border-image-slice: 20 16 fill;
  border-image-width: 1.1111111111rem 0.8888888889rem 1.1111111111rem 0.8888888889rem;
}

.city-banner__time-icon {
  background-image: url("blp:town_turn-icon.png");
}

.city-banner__capital-star {
  background-image: url("blp:fi_city_capital_icon_curr_64.png");
  margin-top: 0.4444444444rem;
  margin-right: -0.2222222222rem;
  margin-left: 0.2222222222rem;
}

.city-banner__original-capital-curr-star {
  background-image: url("blp:fi_city_capital_icon_og_curr_64.png");
  margin-top: 0.4444444444rem;
  margin-right: -0.2222222222rem;
  margin-left: 0.2222222222rem;
}

.city-banner__original-capital-star {
  background-image: url("blp:fi_city_capital_icon_og_64.png");
  margin-top: 0.4444444444rem;
  margin-right: -0.2222222222rem;
  margin-left: 0.2222222222rem;
}

.city-banner__town-original-capital-star {
  margin-top: 0.0555555556rem;
}

/* TRIX */
/* CITY-BANNER */
.bz-flags.city-banner {
  top: -3rem;
  height: 3.6666666667rem;
}
/* CONTAINER */
.bz-flags.city-banner .city-banner__container {
  margin: 0;
}
/* STRETCH */
.bz-flags.city-banner .city-banner__stretch {
  top: 0.0555555556rem;
  height: 3.6666666667rem;
}
/* CITY-STATE-BORDER */
.bz-flags .city-banner__city-state-border {
  fxs-border-image-tint: transparent;
  display: flex;
  margin-top: 0.3888888889rem;
  border-image-source: url("blp:hostile_pill.png");
  border-image-slice: 60 24 2 24 fill;
  border-image-outset: 0.2222222222rem 0.1111111111rem;
  border-image-width: 3rem 1.3333333333rem 0.1111111111rem 1.3333333333rem;
}
.bz-flags.city-banner--citystate .city-banner__city-state-border {
  fxs-border-image-tint: var(--bz-color-neutral);
}
.bz-flags.city-banner--friendly .city-banner__city-state-border {
  fxs-border-image-tint: var(--bz-color-friendly);
}
.bz-flags.city-banner--hostile .city-banner__city-state-border {
  fxs-border-image-tint: var(--bz-color-hostile);
}
/* CITY-STATE-RING */
.bz-flags .city-banner__city-state-ring {
  display: flex;
  fxs-border-image-tint: var(--player-color-secondary);
  border-image-source: url("blp:city_pill.png");
  border-image-slice: 60 24 2 24 fill;
  border-image-outset: 0.2222222222rem 0.3888888889rem;
  border-image-width: 3.3333333333rem 1.3888888889rem 0.1111111111rem 1.3333333333rem;
}
.bz-flags.city-banner.city-banner--town .city-banner__city-state-ring {
  fxs-border-image-tint: transparent;
}
.bz-flags.city-banner.city-banner--village .city-banner__city-state-ring {
  fxs-border-image-tint: white;
}
/* STRETCH-BG */
.bz-flags.city-banner .city-banner__stretch-bg {
  fxs-border-image-tint: var(--player-color-primary);
}
.bz-flags.city-banner.city-banner--citystate .city-banner__stretch-bg {
  fxs-border-image-tint: var(--player-color-primary);
}
.bz-flags.city-banner.city-banner--village .city-banner__stretch-bg {
  fxs-border-image-tint: black;
}
/* NAME-CONTAINER */
.bz-flags .city-banner__name-container {
  line-height: 1.6666666667rem;
  pointer-events: auto;
  margin-top: -0.3333333333rem;
  margin-left: 0.1666666667rem;
  color: var(--player-color-secondary);
}
.bz-flags.city-banner--citystate .city-banner__name-container {
  color: var(--player-color-secondary);
}
.bz-flags.city-banner--village .city-banner__name-container {
  color: white;
}
/* PORTRAIT */
/*   PORTRAIT-BG1 */
/*   PORTRAIT-BG2 */
/*   PORTRAIT-IMG */
.bz-flags.city-banner .city-banner__portrait {
  margin: -0.2777777778rem;
  margin-right: 0;
  top: -0.1111111111rem;
  left: 0.1666666667rem;
  width: 1.7777777778rem;
  height: 2.5rem;
}
.bz-flags .city-banner__portrait-bg1 {
  top: 0.3333333333rem;
  width: 1.7777777778rem;
  height: 2.5rem;
  background-size: cover;
  background-image: url("blp:town_portrait-hex.png");
}
.bz-flags .city-banner__portrait-bg2 {
  top: 0.3333333333rem;
  width: 1.7777777778rem;
  height: 2.5rem;
  background-size: cover;
  background-image: url("blp:town_portrait-frame.png");
}
.bz-flags .city-banner__portrait-img {
  top: 0.0555555556rem;
  left: 0;
  width: 1.7777777778rem;  /* 64x90 */
  height: 2.5rem;
  background-size: cover;
}
/* FXS-VSLOT.NAME-VSLOT */
/*   FXS-HSLOT */
/*     CAPITAL-STAR */
/*     ORIGINAL-CAPITAL-STAR */
/*     ORIGINAL-CAPITAL-CURR-STAR */
.bz-flags .bz-settlement-icon,
.bz-flags.city-banner .city-banner__capital-star,
.bz-flags.city-banner .city-banner__original-capital-curr-star,
.bz-flags.city-banner .city-banner__original-capital-star {
  background-position: center;
  position: relative;
  width: 1.7777777778rem;
  height: 1.7777777778rem;
  top: 0.2222222222rem;
  margin: 0 -0.3333333333rem 0 0;
}
.bz-flags.city-banner .city-banner__capital-star,
.bz-flags.city-banner .city-banner__original-capital-curr-star {
  background-size: 75%;
}
.bz-flags.city-banner .city-banner__original-capital-star {
  background-size: 60%;
  filter: saturate(0);
}
.bz-flags.city-banner.city-banner--village .city-banner__capital-star {
  display: none;
}
/* NAME */
.bz-flags.city-banner .city-banner__name.city-banner__icons-below-name,
.bz-flags.city-banner .city-banner__name {
  position: relative;
  margin-top: 0.3333333333rem;
  padding: 0 0.3333333333rem;
  letter-spacing: 0.0555555556rem;
  font-weight: bold;
  text-shadow:  /* TODO */
  -1px -1px 0rem #fff5,
  1px 1px 0rem #000a,
  0.0555555556rem 0.0555555556rem 0.0555555556rem #000a;
  pointer-events: auto;
}
.bz-flags.city-banner.city-banner--citystate .city-banner__name,
.bz-flags.city-banner.city-banner--village .city-banner__name {
  text-shadow: none;
}
/* STATUS-RELIGION */
.bz-flags.city-banner .city-banner__status-religion {
  position: absolute;
  top: 1.8333333333rem;
  left: 0.8888888889rem;
  transform: translateX(-50%) scale(1);
}
.bz-flags.city-banner .city-banner__status {
  position: relative;
  height: 1rem;
  width: 1rem;
  margin: 0 0.0555555556rem;
}
.bz-flags.city-banner .city-banner__status.hidden {
  display: none;
}
.bz-flags.city-banner .city-banner__status-background,
.bz-flags.city-banner .city-banner__religion-symbol-bg,
.bz-flags.city-banner .city-banner__trade-network-background {
  position: relative;
  margin: 0;
  border: none;
  filter: drop-shadow(0 0.0555555556rem 0.1111111111rem black);
}
.bz-flags.city-banner .city-banner__status-icon {
  background-size: 125%;
  background-position: center center;
}
.bz-flags.city-banner .city-banner__religion {
  position: relative;
  height: 1rem;
}
.bz-flags.city-banner .city-banner__religion-symbol-bg {
  margin: 0 0.0555555556rem;
}
.bz-flags.city-banner .city-banner__religion-symbol {
  width: 1rem;
  height: 1rem;
  margin: 0;
}
.bz-flags .city-banner__trade-network {
  margin: 0 0.0555555556rem;
  height: 1rem;
  width: 1rem;
  position: relative;
}
.bz-flags .city-banner__trade-network-background {
  border-radius: 50%;
  background-color: #0008;
}
.bz-flags .city-banner__trade-network .city-banner__trade-network--hidden {
  opacity: 1;
}
/* POPULATION-CONTAINER */
/* QUEUE-CONTAINER */
.bz-flags.city-banner .city-banner__population-container,
.bz-flags.city-banner .dan-tooltip,
.bz-flags.city-banner .city-banner__queue-container {
  position: relative;
  align-items: center;
  justify-content: center;
  top: 0.1666666667rem;
  left: 0.1111111111rem;
  width: 1.5555555556rem;
  height: 1.5555555556rem;
  margin-top: 0;
  margin-right: 0.1111111111rem;
  padding: 0;
  box-shadow: none;
}
.bz-flags.city-banner.city-banner--city-other .city-banner__production-container {
  top: 0.0555555556rem;
}
.bz-flags.city-banner .city-banner__ring {
  background-image: url("hud_sub_circle_bk");
  line-height: 2rem;
  margin: 0.001px 0 0 0;
  z-index: 1;
}
.bz-flags.city-banner .city-banner__population-ring,
.bz-flags.city-banner .city-banner__production-ring {
  top: 0.0277777778rem;
  left: -0.0277777778rem;
}
.bz-flags.city-banner .city-banner__population-number,
.bz-flags.city-banner .city-banner__queue-img {
  position: relative;
}
.bz-flags.city-banner .city-banner__population-number,
.bz-flags.city-banner .city-banner__queue-img,
.bz-flags.city-banner .fxs-ring-meter__ring {
  top: -0.0277777778rem;
  left: 0.0277777778rem;
}
.bz-flags .city-banner__population-ring .fxs-ring-meter__ring-right,
.bz-flags .city-banner__population-ring .fxs-ring-meter__ring-left {
  filter: brightness(1.667) fxs-color-tint(var(--bz-color-food));
}
.bz-flags .city-banner__production-ring .fxs-ring-meter__ring-right,
.bz-flags .city-banner__production-ring .fxs-ring-meter__ring-left {
  filter: brightness(2.333) fxs-color-tint(var(--bz-color-production));
}

.bz-flags.city-banner.city-banner--city-other .queue-production {
  display: flex;
}
.bz-flags.city-banner.city-banner--city-other .queue-production.hidden,
.bz-flags.city-banner.city-banner--city-other .queue-production.queue-none {
  display: none;
}
/* TURN */
.bz-flags.city-banner .city-banner__turn {
  position: relative;
  margin: 0;
  top: -1rem;
}
.bz-flags.city-banner .city-banner__turn-number {
  background-image: none;
  margin: 0;
  padding: 0.8333333333rem 0.1666666667rem 0.1666666667rem;
  width: auto;
  min-width: 1.1111111111rem;
  align-self: center;
  text-align: center;
  background-color: #000a;
  border-radius: 50% / 0.1666666667rem;
  line-height: 1;
}
/* CITY-STATE-CONTAINER */
.bz-flags.city-banner.city-banner--citystate .city-banner__city-state-container,
.bz-flags.city-banner.city-banner--village .city-banner__city-state-container {
  margin: 0.0555555556rem 0 0 0.0555555556rem;
}
.bz-flags.city-banner.city-banner--citystate .city-banner__city-state-type,
.bz-flags.city-banner.city-banner--village .city-banner__city-state-type {
  margin-top: 0.3333333333rem;
  margin-right: 0.1111111111rem;
}
/* RIGHT-CONTAINER */
.bz-flags .city-banner__right-container {
  position: absolute;
  margin: 0;
  top: -2.72222222222rem;
  height: 2.6666666667rem;
  display: flex;
  justify-content: center;
  transform: translateX(-50%) scale(1);
}
/* CONQUERED */
.bz-flags.city-banner .bz-city-conquered {
  position: absolute;
  top: 1.2222222222rem;
  margin: 0;
}
.bz-flags.city-banner--citystate .bz-city-conquered {
  top: -0.1111111111rem;
}
.bz-flags.city-banner--town .bz-city-conquered {
  top: 0.7777777778rem;
}
.bz-flags.city-banner .city-banner__conquered-icon {
  position: absolute;
}
/* UNREST */
.bz-flags.city-banner .city-banner__unrest {
  position: absolute;
  margin: 0;
  top: 0.4444444444rem;
  right: -2.1111111111rem;
}
.bz-flags.city-banner .city-banner__unrest-icon {
  position: relative;
  z-index: 2;
  width: 2.6666666667rem;
  height: 2.6666666667rem;
  top: -0.0555555556rem;
  margin: 0;
  filter: drop-shadow(0 0.0555555556rem 0.1111111111rem black);
}
/* RAZING */
.bz-flags.city-banner .city-banner__razing {
  position: absolute;
  margin: 0;
  top: 0.2222222222rem;
  right: -2.2222222222rem;
}
.bz-flags.city-banner .city-banner__razing-icon {
  position: relative;
  z-index: 2;
  width: 2.8888888889rem;
  height: 2.8888888889rem;
  margin: 0;
  filter: drop-shadow(0 0.0555555556rem 0.1111111111rem black);
}
/* TIME-CONTAINER */
.bz-flags.city-banner .city-banner__time-container {
  position: relative;
  margin: 0;
  top: -1.3333333333rem;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
  border-image-source: none;
  border-image-slice: 0;
  border-image-width: 0;
}
.bz-flags.city-banner .city-banner__time-icon {
  display: none;
}
.bz-flags.city-banner .city-banner__time-text {
  z-index: -1;
  margin: 0;
  padding: 0.8333333333rem 0.1666666667rem 0.1666666667rem;
  width: auto;
  min-width: 1.1111111111rem;
  align-self: center;
  text-align: center;
  background-color: #000a;
  border-radius: 50% / 0.1666666667rem;
  line-height: 1;
}
/* vim:set sw=2 et: */
